body {
    background-color: #D6E4F0;
}

.chat-box {
    max-height: 400px; /* Limita la altura y permite el scroll si hay muchos mensajes */
    overflow-y: auto;
}

.card {
    width: 100%; /* Asegura que la tarjeta use todo el ancho disponible */
    background-color: #ffffff;
}

.card-body {
    min-height: 300px; /* Evita que el chat sea demasiado pequeño */
}

.mensaje_bot, .mensaje_persona {
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    margin-bottom: 10px;
    text-align: left; /* Alinea el texto a la izquierda */
}

.mensaje_bot {
    background-color: #d9e6f2;
    color: #333;
    margin-left: 10px; /* Alinea a la izquierda */
}

.mensaje_persona {
    background-color: #1A2B49;
    color: #fff;
    margin-left: 10px; /* Alinea a la izquierda */
}

.icono {
    font-size: 24px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}