{% extends "base.html" %}

{% block title %}Características - Sigma Security{% endblock %}

{% block content %}
<br><br>
<div class="container py-5">
    <h2 class="mb-4 text-primary">Características principales</h2>
    <ul class="list-group list-group-flush mb-4">
        <li class="list-group-item">Análisis automático de vulnerabilidades</li>
        <li class="list-group-item">Soporte para múltiples proyectos</li>
        <li class="list-group-item">Recomendaciones personalizadas por IA</li>
        <li class="list-group-item">Integración con SBOM</li>
        <li class="list-group-item">Panel de administración y usuario</li>
        <li class="list-group-item">Acceso a API REST</li>
    </ul>
</div>
{% endblock %} 