{% extends "base.html" %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css') }}">

    <!-- Mensaje de alerta -->
    <div class="container mt-10 " style="background-color: #D9D9D9;">
        <div class="alert bg-warning bg-opacity-20 alert-warning ">
            <strong>Atención!</strong> Mensaje de alerta para indicar que se ha podido producir un error (<a href="#">ver detalles</a>).
        </div>
    </div>

    <!-- Contenedor principal -->
    <div class="container-fluid mt-10 m-3 p-3" style="background-color: #D9D9D9;">
        <div class="row">
            <!-- Lista de proyectos -->
            <div class="col-11 col-md-2 mb-3">
                <div class="card" style="background-color: #1A2B49;">
                    <div class="card-header d-flex justify-content-between align-items-center text-white">
                        <span>Proyectos</span>
                        <button class="btn btn-success btn-sm">+</button>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Proyecto 1</li>
                        <li class="list-group-item">Proyecto 2</li>
                        <li class="list-group-item d-flex justify-content-between">
                            Proyecto 3
                            <button class="btn btn-danger btn-sm">🗑</button>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Sección de chat -->
            <div class="col-11 col-md-9 " style="background-color: #D9D9D9;">
                <div class="card ">
                    <div class="card-body chat-box m-0 p-0">
                        <div class="d-flex align-items-start mb-3">
                            <div class="mensaje_bot">Hola! Soy un bot, ¿en qué puedo ayudarte?</div>
                        </div>
                        <div class="d-flex justify-content-end mb-3">
                            <div class="mensaje_persona">Estoy realizando una aplicación web para recoger vulnerabilidades.</div>
                        </div>
                        <div class="d-flex align-items-start mb-3">
                            <div class="mensaje_bot">Antes de continuar, dime a que te dedicas.</div>
                        </div>
                        <div class="d-flex justify-content-end mb-3">
                            <div class="mensaje_persona">Soy trabajador de una empresa de finanzas y soy el encargado del apartado cibernetico.</div>
                        </div>
                        <div class="d-flex align-items-start mb-3">
                            <div class="mensaje_bot">Vale, yo te ayudare con tu trabajo.</div>
                        </div>
           
                    </div>
                    <div class="card-footer " >
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Escribe tu mensaje...">
                            <button class="btn btn-primary" style="background-color: #1A2B49;">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

{% endblock %}
