{% extends "base.html" %}

{% block content %}

    <!-- Main Title Section -->
    <div class="main-title">
        <div class="main-title-photo">
            <img src="{{ url_for('static', filename='images/title.png') }}" alt="Titulo">
        </div>
        <p>Sistema de soporte para Vulnerabilidades y Amenazas basado en Inteligencia Artificial</p>
        <div class="cards">
            <div class="card" onclick="location.href='/chat-bot';" style="cursor: pointer;">
                <h1>¡Comienza ya!</h1> 
                <br> 
                Describe tu proyecto y comienza a recibir sugerencias sobre seguridad por parte de nuestra Inteligencia Artificial.
            </div>
            <div class="card">
                <h1>Vulnerabilidades</h1> 
                <br> 
                Nuestro modelo se basa en miles de vulnerabilidades conocidas y en la información más reciente de la industria.
            </div>
        </div>        
    </div>

    <br><br><br>

    <!-- Workflow Section -->
    <div class="workflow">
        <div class="img-workflow">
            <img src="{{ url_for('static', filename='images/chatbot.png') }}" alt="Imagen 1">
        </div>
        <div class="workflow-steps">
            <div class="step active" data-step="1">
                <span class="badge bg-primary rounded-pill">1</span>
                <div class="step-content">
                    <h3>Describe tu proyecto</h3>
                    <p>Describe tu proyecto usando nuestro chat.</p>
                </div>
            </div>
            <div class="step active" data-step="2">
                <span class="badge bg-primary rounded-pill">2</span>
                <div class="step-content">
                    <h3>Recibe sugerencias</h3>
                    <p>Nuestra IA buscará vulnerabilidades que puedan interesarte.</p>
                </div>
            </div>
            <div class="step active" data-step="3">
                <span class="badge bg-primary rounded-pill">3</span>
                <div class="step-content">
                    <h3>Más detalles</h3>
                    <p>Sigue hablando con la IA para obtener más información.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Pricing Section -->
    <div class="pricing">
        <h2 class="pricing-title">Tabla de precios</h2>
        <p class="pricing-subtitle">Elige la modalidad que mejor se adapte a tus necesidades.</p>
        <div class="pricing-table">
            <div class="plan">
                <h3 class="plan-title">Básico</h3>
                <div class="price">0 €<span>/mes</span></div>
                <ul class="features">
                    <li>1 proyecto</li>
                    <li>10 sugerencias</li>
                </ul>
                <button class="plan-button">Comenzar</button>
            </div>
            <div class="plan recommended">
                <h3 class="plan-title">Profesional</h3>
                <div class="price">19,99 €<span>/mes</span></div>
                <ul class="features">
                    <li>10 proyectos</li>
                    <li>100 sugerencias</li>
                    <li>Soporte por chat</li>
                    <li>Acceso a la API</li>
                </ul>
                <button class="plan-button">Comenzar</button>
            </div>
            <div class="plan">
                <h3 class="plan-title">Empresarial</h3>
                <div class="price">49,99 €<span>/mes</span></div>
                <ul class="features">
                    <li>100 proyectos</li>
                    <li>Sugerencias ilimitadas</li>
                    <li>Soporte por chat</li>
                    <li>Acceso por teléfono</li>
                    <li>Acceso a la API</li>
                </ul>
                <button class="plan-button">Comenzar</button>
            </div>
        </div>
    </div>

{% endblock %}